{
    "extends": [
        "eslint:recommended",
        "airbnb",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "plugins": [
        "react",
        "import"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "parser": "babel-eslint",
    "env": {
        "mocha": true,
        "es6": true,
        "browser": true,
        "node": true,
        "jquery": true
    },
    "settings": {
        "import/ignore": [".(scss|css)$"]
    },
    "rules": {
        "linebreak-style": 0,
        "import/no-unresolved": "off",
        "react/prop-types": 0
    }
}
