.worksWrapper {
    display: flex;
    width: 30%;
    padding: 5px;
    color: #FFFFFF;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 24px;
    border: 2px solid #34D6FF;
    border-radius: 7%;
    background-color: black;
}